#OCaml
_log
_build
*.cmi
*.cmo
*.native
*.byte
parser.output
parser.ml
parser.mli

#nhc
/src/version.ml

#C++
*.o
core
a.out

#Audio files
*.wav
*.mp3
*.midi
*.mid

#Mac
.DS_Store
._*

#Windows
Thumbs.db
